* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* Header Container*/
.header-container{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.enbLogo {
    width: 120px;
}

.links > a {
    color: #E5E7EB;
    text-decoration: solid;
    font-size: 18px;
}

/*Top Conatiner*/

.top-container {
    display: flex;
    background-color: #1F2937;
}

.overlay {
    flex: 1,1,auto;
    background: rgba(106, 109, 123, 0.1);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 70%;
    margin-left: 10%;
    margin-top: 4rem;
    padding : 2rem;
    padding-bottom: 10px;
    padding-right: 4rem;
    margin-bottom: 3rem;
    display: flex;
   
}

.top1 > h1 {
    color: #F9FAF8;
    font-style: italic;
    font-weight: 600;
    width: 80%;
    margin-bottom: 10px;
}

.top1 > p {
    color: #E5E7EB;
    margin-bottom: 10px;
}

.top1 > button {
    top:50%;
    background-color: rgba(56, 130, 246, 0.626);
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:12px;
    margin-bottom: 10px;
}


#earth{
    margin-left: -7rem;
    height: 300px;
    width: 300px;
}

/* Info Container */
.info-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.facts-container {
    flex: 1;
    margin-bottom: 3rem;
    width: 80%;
}

.facts-container > h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.facts {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.fact {
    flex: 1,1,auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fact > p {
    flex: 1;
    width: 130px;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

.fact > img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 2px solid #3882F6;
    padding: 0.5rem;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote-text {
    font-size: 18px;
    font-style: italic;
    color: #1F2937;
    font-family: 'Noto Serif';
    font-weight: 200;
    width: 60%;
    text-align: justify;
    margin-top: 5rem;
}

#quote-by {
    margin-left: 50%;
    margin-bottom: 5rem;
}

.subs-container {
    margin: 10%;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
    width: 70%;
    color: #F9FAF8;
    justify-content: space-between;
}

.subMsg > p {
    font-weight: 200;
    font-size: 16px;
}

.subButton {
    background-color: rgba(56, 130, 246, 0.626);
    color: #fff;
    border: 1px solid #fff; 
    border-radius:10px; 
    padding:6px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Footer Container */

.footer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1F2937;
   height: 4rem;
}

.footer-container > h4 {
    color:#E5E7EB;
    font-weight: 200;
}